1. Write a Python program to find the second largest number in a list.

In [22]:
x = input("input a list of numbers separated with spaces : ")
x = x.split(" ")
max1 = max(x[0],x[1])
max2 = min(x[0],x[1])
for i in range(2,len(x)):
    if x[i] > max1:
        max2 = max1
        max1 = x[i]
    else:
        if x[i]>max2:
            max2 = x[i]
print(max2)

input a list of numbers: 45 2632 8
45

2. Write a Python program to find the index of the second largest number in a list.

In [ ]:
x = input("input a list of numbers: ")
x = x.split()
max1 = max(x[0],x[1])
max2 = min(x[0],x[1])
for i in range(2,len(x)):
    if x[i] > max1:
        max2 = max1
        max1 = x[i]
        
    else:
        if x[i]>max2:
            max2 = x[i]
print(x.index(max2))

3. Write a Python program to check a container is empty or not.

In [5]:
lis = input("input a list: ")
print(lis if lis else 'empty list')

input a list:
empty list

4. Write a Python program using Sieve of Eratosthenes method for computing primes upto a
specified number.
Note: In mathematics, the sieve of Eratosthenes,one of a number of prime number sieves, is a
simple, ancient algorithm for finding all prime numbers up to any given limit.

In [19]:
x = ['1','2','3','4']

['1', '2']
['3', '4']

5. Given a list slice it into a 3 equal chunks and print each list.

In [1]:
x = ['1','2','8','88','545','11','8','8','7']
n = 3
for i in range(0,len(x),n):
     print(x[i:i+n])

['1', '2', '8']
['88', '545', '11']
['8', '8', '7']

6. Write a Python program to sort a list in descending order.

In [11]:
list= [1 ,2, 5 ,98, 7]
list.sort(reverse=True)
print(list)

[98, 7, 5, 2, 1]

7. Write a Python program to reverse a list.

In [31]:
x = [2,5,6,8,7,9,10]
x.reverse()
print(x)

[10, 9, 7, 8, 6, 5, 2]

8. Write a Python program to flatten a 2-D list.

In [122]:
list_2d = [[1,2,3],[4,5,6]]
x = []
for i in list_2d:
    x.extend(i)
print(x)

[1, 2, 3, 4, 5, 6]

9. Given an input list removes the element at index 4 and add it to the 2nd position and also at
the end of the list.

In [39]:
x = [1,26,3,40,80,51,78]
y = x.pop(4)
x.append(y)
x.insert(2,y)
print(x)

[1, 26, 80, 3, 40, 51, 78, 80]

10. Given a two list of equal size create a set such that it shows only the common elements from
both lists.

In [11]:
x1 = [1,2,3,10,69,7]
x2 = [1,3,5,7,4,69,0]
my_set = set(x2)
print(my_set.intersection(x1,x2))

{1, 3, 69, 7}

11. Given a two list of equal size create a tuple such that it shows elements from both lists in pairs

In [136]:
x1 = [1, 5, 100]
x2 = [20, 4, 3]
new = [(a,b) for a in x1 for b in x2]
new =tuple(new)
print(new)

((1, 20), (1, 4), (1, 3), (5, 20), (5, 4), (5, 3), (100, 20), (100, 4), (100, 3))

12. Write a Python program to iterate and extract all key-value pair of a dictionary and print
them.

In [97]:
d1 = { 'name' : 'x', 'ip' : 123456, 'age' : 22 }
print(d1.items())

dict_items([('name', 'x'), ('ip', 123456), ('age', 22)])

13. Iterate a given list and Check if a given element already exists in a dictionary as a key’s value
if not delete it from the list.

In [22]:
dic_1 = {'a':'cat', 'b':502, 'c':456, 'd':'man'}
key = input("input any key: ")
if key in dic_1.keys():
    print('present','value = ', dic_1[key],end=" ")
else:
    print('key does not appear in the dictionary')

input any key: d
present value =  man

14. Given a dictionary get all values from the dictionary and add it in a list but don’t add duplicates.

In [43]:
dic = {'car' : 'audi' , 'plane' : 'aircraft', 'weapon' : 'gun', 'weapon2': 'gun'}
li1 = []
x = [set(dic.values())]
print(x)

[{'audi', 'aircraft', 'gun'}]

15. Write a Python program which accepts a sequence of comma-separated numbers from user and
generate a list and tuple with those numbers.
Sample data : 3, 5, 7, 23
Output :
List : [’3’, ’ 5’, ’ 7’, ’ 23’]
Tuple : (’3’, ’ 5’, ’ 7’, ’ 23’)

In [14]:
my_list = input("input comma seperated numbers: ")
my_list = my_list.split(',')
tup = tuple(my_list)
print( 'list:',my_list)
print('tuple:', tup)

input comma seperated numbers: 1,2,3
list: ['1', '2', '3']
tuple: ('1', '2', '3')

16. Write a Python program to count the number 4 in a given list.

In [14]:
x = [4,4,4,56,8,4]
print(x.count(4))

4

17. Write a Python program to print all even numbers from a given numbers list in the same order
and stop the printing if any numbers that come after 237 in the sequence.
Sample numbers list :
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399,
162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512,
24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958, 743, 527]

In [44]:
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399,
162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512,
24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958, 743, 527]
for i in numbers:
    if i == 237:
        print(i)
        break
    elif i%2 ==0:
        print(i,end=' ')

386 462 418 344 236 566 978 328 162 758 918 237

18. Write a Python program to print the length of the series and the series starting from the 3rd
term, ending at the 3rd last term and the sum of a series.

In [3]:
third = int(input("input the 3rd term of a series: "))
last3 = int(input("input the last 3 terms of a series: "))
sums = int(input("input the sum term of a series: "))
n = int(2*sums/(third+last3))
print("the length of the series: ",n)

if n-5==0:
    d = (sums-3*third)//6
else:
    d = (last3-third)/(n-5)
a = third-2*d
j = 0
print("series: ")
for j in range(n-1):
    print(int(a),end=' ')
    a+=d
print(int(a),end=' ')

input the 3rd term of a series: 3
input the last 3 terms of a series: 6
input the sum term of a series: 36
the length of the series:  8
series:
1 2 3 4 5 6 7 8

19. Write a Python program to get a list, sorted in increasing order by the last element in each
tuple from a given list of non-empty tuples.
Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [123]:
li = [(2,5),(5,7),(8,9),(80,0)]

20. Write a Python program to create a list by concatenating a given list which range goes from 1
to n.
Sample list : [’p’, ’q’] „„ n = 5
Sample Output : [’p1’, ’q1’, ’p2’, ’q2’, ’p3’, ’q3’, ’p4’, ’q4’, ’p5’, ’q5’]

In [ ]:
s1 = input("input")
n = int(input("input any number: "))
s2 = ['{}{}'.format(x,y) for y in range(1,n+1) for x in s1]
print(s2)

21. Write a Python program to find the biggest row sum of a given matrix.

In [75]:
m =[[10,10,10],
    [20,20,20],
    [30,30,30]]
rowss = 0
col = 0
max_row = 0
for i in range(len(m)):
    for j in range(len(m)):
        row += int(m[i][j])
        if row>max_row:
            max_row = row 
    row=0   
print(max_row)

90

22. Write a Python program to find the biggest column Multiplication of a matrix.

In [83]:
  m =[[7,10,2],
     [3,1,2],
     [1,0,6]]
row = 0
col = 1
max_col = 0

for i in range(len(m)):
    for j in range(len(m)):
        col *= int(m[j][i])
        if col >max_col:
            max_col = col 
    col =1
print(max_col)

24

23. Write a guessing game where the user must guess a secret number. After every guess the
program tells the user whether their number was too large or too small. At the end the number
of tries needed should be printed. It counts only as one try if they input the same number
multiple times consecutively.

In [9]:
hidden = 200
number_of_tries = 0
guess = int(input("please enter your guess: "))
if guess == hidden:
    print("good job!")

while  guess < hidden or guess > hidden :
    if guess < hidden:
        print("your guess is too low: Try Again")
        guess = int(input("please enter your guess: "))
        number_of_tries +=1
    else:
        print("your guess is too high: Try Again")
        guess = int(input("please enter your guess: "))
        number_of_tries +=1
        
  
    
print('number of tries is:', number_of_tries)

please enter your guess: 230
your guess is too high: Try Again
please enter your guess: 100
your guess is too low: Try Again
please enter your guess: 200
number of tries is: 2

24. Write a python program to transpose a matrix.

In [16]:
x = [[12,7],
    [0,5],
    [8,9]]
result = [[0,0,0],
         [0,0,0]]
for i in range(len(x)):
    for j in range(len(x[0])):
        result[j][i] = x[i][j]
for r in result:
    print(r)

[12, 0, 8]
[7, 5, 9]

25. Write a python program to perform a 2 matrix multiplication (following the algebra rules of
matrix multiplication).

In [169]:
x = [[1,2,3],
    [4,5,6],
    [7,8,9]]

y = [[1,2,3],
     [1,2,3],
     [1,2,3]]

re =[[0,0,0],
    [0,0,0],
    [0,0,0]]

for i in range(len(x)):
    for j in range(len(y)):
         for k in range(len(y)):
                re[i][j] += x[i][k] * y[k][j]

for r in re:
    print(r)

[6, 12, 18]
[15, 30, 45]
[24, 48, 72]

26. Write a python program to inverse a matrix.

In [ ]:
################################################

27. Write a Python program to print all permutations of a sequence of numbers.

In [35]:
import itertools
print(itertools.permutations([50,20,70,90]))
for p in (itertools.permutations([50,20,70,90])):
    print(p,'->',''.join(str(x) for x in p))

<itertools.permutations object at 0x000001DAF7EB9468>
(50, 20, 70, 90) -> 50207090
(50, 20, 90, 70) -> 50209070
(50, 70, 20, 90) -> 50702090
(50, 70, 90, 20) -> 50709020
(50, 90, 20, 70) -> 50902070
(50, 90, 70, 20) -> 50907020
(20, 50, 70, 90) -> 20507090
(20, 50, 90, 70) -> 20509070
(20, 70, 50, 90) -> 20705090
(20, 70, 90, 50) -> 20709050
(20, 90, 50, 70) -> 20905070
(20, 90, 70, 50) -> 20907050
(70, 50, 20, 90) -> 70502090
(70, 50, 90, 20) -> 70509020
(70, 20, 50, 90) -> 70205090
(70, 20, 90, 50) -> 70209050
(70, 90, 50, 20) -> 70905020
(70, 90, 20, 50) -> 70902050
(90, 50, 20, 70) -> 90502070
(90, 50, 70, 20) -> 90507020
(90, 20, 50, 70) -> 90205070
(90, 20, 70, 50) -> 90207050
(90, 70, 50, 20) -> 90705020
(90, 70, 20, 50) -> 90702050

28. Write a Python program to sort (ascending and descending) a dictionary by its values.

In [61]:
d1 = {'animal1':'pat','animal2':'horse','animal3':'cat','animal4':'turtle'}
lst = d1.values()
d1 = sorted(d1.items())
print(d1)

[('animal1', 'pat'), ('animal2', 'horse'), ('animal3', 'cat'), ('animal4', 'turtle')]

29. Write a Python program to remove duplicates from Dictionary values.

In [63]:
d1 = {'animal1':'cat','animal2':'dog','animal3':'turtle','animal4':'turtle'}
d2 = set(d1.values())
print(d2)

{'turtle', 'dog', 'cat'}

30. Write a Python program to print all unique values in a dictionary with their keys.
Sample Data : [”V”:”S001”, ”V”: ”S002”, ”VI”: ”S001”, ”VI”: ”S005”, ”VII”:”S005”,
”V”:”S009”,”VIII”:”S007”]
Expected Output : Unique Values: ’S005’, ’S002’, ’S007’, ’S001’, ’S009’

In [36]:
d1 = { '1':1  ,  '2':5  ,  '1':4  , '2':7 , '3':10  ,'4':1 }

31. Write a Python program to find the keys of the highest 3 values in a dictionary.

In [37]:
d1 = { '1':1  ,  '2':5  ,  '1':4  , '2':7 , '3':10  ,'4':1 }

32. Given a list, traverse it and count the occurrence of each element and create a dictionary to
show the count of each element.

In [100]:
letters = ['x','x','y','z','s','s','s']
d = {}
for letter in letters:
    d[letter] = (d.get(letter,0))+1
print(d)

{'x': 2, 'y': 1, 'z': 1, 's': 3}

33. Given two sets find the intersection and remove the resulted elements from the first set.

In [11]:
s1 = {3,2,5,7,3}
s2 = {3,5,10,20,7}
my_set= {5,5,7}
my_set.intersection(s2,s1).symmetric_difference(s1)

{2, 3}

34. Given two sets, Checks if One Set is subset or superset of Another Set. if it is a subset, delete
all elements (not the set) from that set.

In [7]:
s2 = {1,2,5,8,9,10,11,12}
s1 = {1,5,9,8,10,12,5}

if s1.issubset(s2):
    print(True)
    s1.clear()
    print(s1)
else:
    print("s2 is a subset of s1")

True
set()

35. Write a Python program to print out a set containing all the item from list_1 which are not
present in list_2.
Test Data :
list_1 = [”White”, ”Black”, ”Red”]
list_2 = [”Red”, ”Green”]
Expected Output : ’Black’, ’White’

In [42]:
list_1 = ['white','black','red']
list_2 = ['red','green']
list_1 = set(list_1)
list_2 = set(list_2)
list_1.difference(list_2)

{'black', 'white'}

36. Write a Python program to find a distinct pair of numbers whose all product are odd from a
sequence of integer values.
Sample Input: [1, 4, 7, 3]
Sample Output:
1, 3
1, 7
3, 7

In [6]:
num = [1,4,7,3]
for i in range(0,len(num)):
    for j in range(1,len(num)):
        if (num[i]*num[j]) % 2 != 0:
            print(num[i],',',num[j])

1 , 7
1 , 3
7 , 7
7 , 3
3 , 7
3 , 3

37. Write a Python program to compute the summation of the absolute difference of all distinct
pairs in an given array (non-decreasing order).
Sample array: [1, 2, 3]
Then all the distinct pairs will be:
1 2
1 3
2 3
Sample Output: 1 + 2 + 1 = 4

In [128]:
num = [1,2,3]
diff = 0
for i in range(0,len(num)):
    for j in range(i):
        diff = diff +abs(num[i] - num[j])      
print(diff)

4

38. Write a Python program to find the difference between the largest possible integer and the
smallest possible integer which are created by maximum 4 digits each digit contains a value
from 0 to 9.
Input: 3245
Output:
Min Int: 2345
Max Int: 5432
Max Difference: 3087

In [94]:
number = input(" Enter 4 digit number with spaces in between:  ")
number = number.split(' ')


min = sorted(number)
max = sorted(number,reverse = True)
x1 = int("".join(map(str,min)))
x2 = int("".join(map(str,max)))
res = x2 - x1
    
print(min)
print(max)
print(res)

 Enter 4 digit number with spaces in between:  9 1 2 7
['1', '2', '7', '9']
['9', '7', '2', '1']
8442

39. Write a Python program which adds up column and row of given table.
Input cell value:
25 69 51 26
68 35 29 54
54 57 45 63
61 68 47 59
Result:
25 69 51 26 171
68 35 29 54 186
54 57 45 63 219
61 68 47 59 235
208 229 172 202 811

In [21]:
m =[[25, 69, 51, 26],
    [68, 35, 29, 54],
    [54, 57, 45, 63],
    [61, 68, 47, 59]]
new_row = 0
new_col = 0
row = 0
col = 0



for i in range(len(m)):
    for j in range(len(m)):
        row += int(m[i][j])
    m[i].append(row)
    row = 0
print(m)
    
for i in range(len(m)):
    for j in range(len(m)):
        col += int(m[j][i])
    m[j].append(col)
    col = 0    
print(m)
      
 ########

[[25, 69, 51, 26, 171], [68, 35, 29, 54, 186], [54, 57, 45, 63, 219], [61, 68, 47, 59, 235]]
[[25, 69, 51, 26, 171], [68, 35, 29, 54, 186], [54, 57, 45, 63, 219], [61, 68, 47, 59, 235, 208, 229, 172, 202]]

40. Write a Python program to count the number of strings where the string length is 2 or more
and the first and last character are same from a given list of strings.
Sample List : [’abc’, ’xyz’, ’aba’, ’1221’]
Expected Result : 2

In [25]:
words = input("input a list of words with comma seperator: ")
words = words.split(',')
ctr = 0
for word in words:
    if len(word) > 1 and word[0] == word[-1]:
        ctr +=1
print(ctr)

input a list of words with comma seperator: abc,xyz,aba,1221
2

41. Write a Python program that takes two lists and returns True if they have at least 3 common
member.

In [52]:
x1 = input("enter a list1 of numbers with spaces: ")
x2 = input("enter a list2 of numbers with spaces: ")
x1 = x1.split(' ')
x2 = x2.split(' ')
comm = 0
for i in x1:
    for j in x2:
        if i==j:
            comm+=1
print('True')

enter a list1 of numbers with spaces: 1 2 3 4 5 6
enter a list2 of numbers with spaces: 1 2 3 5 4
True

42. Write a Python program to generate a list of 15 values and print the list with the first and last
5 elements are squared.

In [3]:
l = list()
for i in range(1,16):
    l.append(i**2)
print(l[:5])
print(l[-5:])

[1, 4, 9, 16, 25]
[121, 144, 169, 196, 225]

43. The sum of the squares of the first ten natural numbers is, 12 + 22 + ... + 102 = 385
The square of the sum of the first ten natural numbers is,(1 + 2 + ... + 10)2 = 552 = 3025
Hence the difference between the sum of the squares of the first ten natural numbers and the
square of the sum is 3025 − 385 = 2640.
Find the difference between the sum of the squares of the first one hundred natural numbers
and the square of the sum.

In [15]:
n = 4
sm1 = 0
sq = 0
sm2 = 0
for i in range(0,n+1):
    sm1 = sm1 +(i**2)
for j in range(0,n+1):
    sm2 = sm2 +(j)
sm2 = sm2**2
difference = sm2 - sm1
print(sm1)
print(sm2)
print(difference)

30
100
70

44. Write a Python program to convert list to list of dictionaries.
Sample lists:
[”Name”, ”Age”, ”ID”, ”Phone”], [”Yazeed”, ”21”, 1536698”, ”0798529788”]
Expected Output:
{’color Name’: ’Black’, ’Age: ’21’ , ‘ID’: ’1536698’, ‘Phone’: ’0798529788’}

In [30]:
itemid = [54,50,100,'00']
names = ['computer','laptop','phone','iphone']
item_dictionary= dict(zip(itemid,names))
print(item_dictionary)

{54: 'computer', 50: 'laptop', 100: 'phone', '00': 'iphone'}

45. Write a Python program to get the top three items in a shop.
Sample data: ’item1’: 45.50, ’item2’:35, ’item3’: 41.30, ’item4’:55, ’item5’: 24
Expected Output:
item4 55
item1 45.5
item3 41.3

In [121]:
it = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

46. Write a Python program to replace dictionary values with their sum.

In [228]:
it = {'item1': 1, 'item2':2, 'item3': 3, 'item4':4, 'item5': 5}
sum = 0
for x in it.values():
    sum += x
for i in it.keys():
    it[i] = sum
print(it)

{'item1': 15, 'item2': 15, 'item3': 15, 'item4': 15, 'item5': 15}